@import url('https://fonts.googleapis.com/css2?family=Fauna+One&display=swap');

html,
body {
    font-family: 'Fauna One', serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
} 

/* MAIN */
main {
    margin-bottom: 100px;
}

main .container-main{
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
    max-width: 980px;
    margin: 100px auto 0px auto;
}

h2{
    color: rgb(0,0,0);
    font-size: 45px;
    line-height: 50px;
    font-weight: bold;
}

#h3-main{
    color: rgb(131,131,131);
    font-size: 20px;
    line-height: 28px;
    margin: 10px 0;
    text-align: justify;
} 


main .container-main img{
    width: 600px;
}

/* CARDS */



.cards {
    width: 90%;
    max-width: 980px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

.text--medium{
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: rgb(187,185,185);
}

.card{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    box-shadow: 5px 5px 15px -4px #000000;
    transition: all 0.3s ease 0s;
    border-radius: 10px;
}

.card:hover{
    transform: translateY(-7px);
}

/*.image {
    width: 100%;
    padding-top: 56.25%;
    overflow: hidden;
    position: relative;
    border-radius: 10px 10px 0 0;
    height: 225px;
}

.image img{
    position: absolute;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

.content {
    margin:20px;
}

.title{
    margin-bottom:0px;
}

#contato img{
    height:40px; 
    position:fixed; 
    bottom:25px; 
    right:25px; 
    z-index:1000;
}
